aside(id='sidebar-right' class='sidebar-right')
    div.nano
        div.nano-content
            a(href='#' class='mobile-close visible-xs') Collapse <i class="fa fa-chevron-right"></i>
            div.sidebar-right-wrapper
                div.sidebar-widget.widget-calendar
                    h6 Upcoming Tasks
                    div(data-plugin-datepicker='' data-plugin-skin='dark')

                    ul
                        li
                            time(datetime='2014-04-19T00:00+00:00') 04/19/2014
                            span Company Meeting
                div.sidebar-widget.widget-friends
                    h6 Friends
                    ul
                        li.status-online
                            figure.profile-picture
                                img(src='assets/app/images/!sample-user.jpg' alt='Joseph Doe' class='img-circle')
                                div.profile-info
                                    span.name Joseph Doe Junior
                                    span.title Hey, how are you?
                        li.status-online
                            figure.profile-picture
                                img(src='assets/app/images/!sample-user.jpg' alt='Joseph Doe' class='img-circle')
                                div.profile-info
                                    span.name Joseph Doe Junior
                                    span.title Hey, how are you?
                        li.status-offline
                            figure.profile-picture
                                img(src='assets/app/images/!sample-user.jpg' alt='Joseph Doe' class='img-circle')
                                div.profile-info
                                    span.name Joseph Doe Junior
                                    span.title Hey, how are you?
                        li.status-offline
                            figure.profile-picture
                                img(src='assets/app/images/!sample-user.jpg' alt='Joseph Doe' class='img-circle')
                                div.profile-info
                                    span.name Joseph Doe Junior
                                    span.title Hey, how are you?