extends authLayout

block content

    script.

        function changePassword() {
            var passwordInput = document.getElementsByName("pwd")[0];
            var retypeInput = document.getElementsByName("retypePwd")[0];

            if(passwordInput.value.length == 0){
                alert("password còn trống");
                return;
            }

            if(retypeInput.value.length == 0){
                alert("retype password còn trống");
                return;
            }

            if(passwordInput.value != retypeInput.value){
                alert("mật khẩu nhập lại chưa trùng");
                return;
            }

            $.ajax({
                url: "/api/resetPasswordUser/update",
                type: "post", //send it through get method
                data: {
                    action: "update_user_password",
                    token: "!{token}",
                    password: passwordInput.value
                },
                success: function (response) {
                    //Do Something
                    if (response.response_code == "SUCC_UPDATE_PASSWORD") {
                        alert("Mật mã thay đổi thành công!");
                        passwordInput.value = '';
                        retypeInput.value = '';
                        window.location.href = "/login";
                    } else if (response.response_code == "ERRO_NOT_FOUND") {
                        passwordInput.value = '';
                        retypeInput.value = '';
                        alert("Đã quá hạn đổi mật mã.");
                    }
                },
                error: function (xhr1) {
                    passwordInput.value = '';
                    retypeInput.value = '';
                    alert("Máy chủ bảo trì. Không thể đăng ký vào lúc này!");
                }
            });


        }

    section.body-sign
        div.center-sign
            a(class='logo pull-left' href='#')
                img(src='assets/images/logo.png' height='54' alt='Lazy Mining')
            div.panel.panel-sign
                div.panel-title-sign.mt-xl.text-right
                    h2.title.text-uppercase.text-bold.m-none <i class="fa fa-user mr-xs"></i> Lấy lại mật mã
                div.panel-body
                    form(action='index.html' method='post')
                        div.form-group.mb-lg
                            label Mật mã
                            div.input-group.input-group-icon
                                input(name='pwd' type='password' class='form-control input-lg')
                                span.input-group-addon
                                    span.icon.icon-lg
                                        i.fa.fa-lock
                        div.form-group.mb-lg
                            label.pull-left  Nhập lại mật mã
                            div.input-group.input-group-icon
                                input(name='retypePwd' type='password' class='form-control input-lg')
                                span.input-group-addon
                                    span.icon.icon-lg
                                        i.fa.fa-lock
                        div.row
                            div.col-sm-8
                            div.col-sm-4.text-right
                                button(type='button' class='btn btn-primary hidden-xs' onclick='changePassword()') Đổi mật mã
                                button(type='button' class='btn btn-primary btn-block btn-lg visible-xs mt-lg' onclick='changePassword()') Đổi mật mã
                        span.mt-lg.mb-lg.line-thru.text-center.text-uppercase
                            span hoặc
                        div.mb-xs.text-center
                            a.btn.btn-facebook.mb-md.ml-xs.mr-xs Kết nối với <i class="fa fa-facebook"></i>
                            a.btn.btn-twitter.mb-md.ml-xs.mr-xs Kết nối với <i class="fa fa-twitter"></i>
                        p.text-center Bạn đã nhớ ra mật mã ? <a href='/signup'> Đăng ký ngay!</a>

            p.text-center.text-muted.mt-md.mb-md &copy; Copyright 2018, Tech Storm Software. All Rights Reserved.