extends layout
block css
    link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css")

    link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="vendor/bootstrap-datepicker/css/datepicker3.css")
    link(rel="stylesheet" href="vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="css/utility.css")
    link(rel="stylesheet" href="vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")
    link(rel="stylesheet" href="vendor/bootstrap-multiselect/bootstrap-multiselect.css")
    link(rel="stylesheet" href="vendor/morris/morris.css")

block info
    script.
        var email = "!{email}";
        var page_name = "dashboard_page";


block header
    header.page-header
        h2 Tổng quan
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Tổng quan

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content


    script.
        var token = "!{token}"

    // start: page
    div(class="row")
        div(class="col-md-6 col-lg-12 col-xl-6")
            section(class="panel")
                div(class="panel-body")
                    div(class="row")
                        div(class="col-lg-8")
                            div(class="chart-data-selector" id="salesSelectorWrapper")
                                h2 Doanh thu:
                                    strong
                                        select#salesSelector(class="form-control" )
                                            option(value="Đồng ETH" selected) Đồng ETH
                                            option(value="Đồng ZEC") Đồng ZEC
                                            option(value="Đồng XMR") Đồng XMR


                                div(id="salesSelectorItems" class="chart-data-selector-items mt-sm")
                                    div(class="chart chart-sm" data-sales-rel="Đồng ETH" id="flotDashSales1" class="chart-active")
                                    script.
                                        var flotDashSales1Data = [{
                                            data: [
                                                ["Tháng 1", 140],
                                                ["Tháng 2", 240],
                                                ["Tháng 3", 190],
                                                ["Tháng 4", 140],
                                                ["Tháng 5", 180],
                                                ["Tháng 6", 320],
                                                ["Tháng 7", 270],
                                                ["Tháng 8", 180]
                                            ],
                                            color: "#0088cc"
                                        }];
                                    div(class="chart chart-sm" data-sales-rel="Đồng ZEC" id="flotDashSales2" class="chart-hidden")
                                    script.
                                        var flotDashSales2Data = [{
                                            data: [
                                                ["Tháng 1", 240],
                                                ["Tháng 2", 240],
                                                ["Tháng 3", 290],
                                                ["Tháng 4", 540],
                                                ["Tháng 5", 480],
                                                ["Tháng 6", 220],
                                                ["Tháng 7", 170],
                                                ["Tháng 8", 190]
                                            ],
                                            color: "#2baab1"
                                        }];
                                    div(class="chart chart-sm" data-sales-rel="Đồng XMR" id="flotDashSales3" class="chart-hidden")
                                    script.
                                        var flotDashSales3Data = [{
                                            data: [
                                                ["Tháng 1", 840],
                                                ["Tháng 2", 740],
                                                ["Tháng 3", 690],
                                                ["Tháng 4", 940],
                                                ["Tháng 5", 1180],
                                                ["Tháng 6", 820],
                                                ["Tháng 7", 570],
                                                ["Tháng 8", 780]
                                            ],
                                            color: "#734ba9"
                                        }];

    
                        div(class="col-lg-4 text-center")
                            h2(class="panel-title mt-md") Lợi nhuận dự đoán
                            div(class="liquid-meter-wrapper liquid-meter-sm mt-lg")
                                div(class="liquid-meter")
                                    meter(min="0" max="100" value="35" id="meterSales")
                                div(class="liquid-meter-selector" id="meterSalesSel")
                                    a(href="#" data-val="35" class="active") Theo tháng
                                    a(href="#" data-val="28") Theo năm

        div(class="col-md-6 col-lg-12 col-xl-6")
            div(class="row")
                div(class="col-md-12 col-lg-6 col-xl-6")
                    section(class="panel panel-featured-left panel-featured-primary")
                        div(class="panel-body")
                            div(class="widget-summary")
                                div(class="widget-summary-col widget-summary-col-icon")
                                    div(class="summary-icon bg-primary")
                                        i(class="fa fa-life-ring")
                                div(class="widget-summary-col")
                                    div(class="summary")
                                        h4(class="title") Hệ thống đã phát hiện sự cố máy
                                        div(class="info")
                                            strong(class="amount") 1281
                                            span(class="text-primary") (14 chưa xử lý)

                                    div(class="summary-footer")
                                        a(class="text-muted text-uppercase") (Xem tất cả)

                div(class="col-md-12 col-lg-6 col-xl-6")
                    section(class="panel panel-featured-left panel-featured-secondary")
                        div(class="panel-body")
                            div(class="widget-summary")
                                div(class="widget-summary-col widget-summary-col-icon")
                                    div(class="summary-icon bg-secondary")
                                        i(class="fa fa-usd")

                                div(class="widget-summary-col")
                                    div(class="summary")
                                        h4(class="title") Tổng số doanh thu 30 ngày trước
                                        div(class="info")
                                            strong(class="amount") Chưa tính được

                                    div(class="summary-footer")
                                        a(href="profit" class="text-muted text-uppercase") (Xem thêm)

                div(class="col-md-12 col-lg-6 col-xl-6")
                    section(class="panel panel-featured-left panel-featured-tertiary")
                        div(class="panel-body")
                            div(class="widget-summary")
                                div(class="widget-summary-col widget-summary-col-icon")
                                    div(class="summary-icon bg-tertiary")
                                        i(class="fa fa-cube")

                                div(class="widget-summary-col")
                                    div(class="summary")
                                        h4(class="title") Tổng số thuật toán đang đào.
                                        div(class="info")
                                            strong(class="amount") 3 thuật toán

                                    div(class="summary-footer")
                                        a(class="text-muted text-uppercase") (Xem thêm)

                div(class="col-md-12 col-lg-6 col-xl-6")
                    section(class="panel panel-featured-left panel-featured-quartenary")
                        div(class="panel-body")
                            div(class="widget-summary")
                                div(class="widget-summary-col widget-summary-col-icon")
                                    div(class="summary-icon bg-quartenary")
                                        i(class="fa fa-desktop")

                                div(class="widget-summary-col")
                                    div(class="summary")
                                        h4(class="title") Tổng số máy đang hoạt động
                                        div(class="info")
                                            strong(class="amount") 5 máy

                                    div(class="summary-footer")
                                        a(href="rigConfig" class="text-muted text-uppercase") (Xem danh sách)


block JS
    script(src="vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")
    script(src="vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")
    script(src="vendor/jquery-appear/jquery.appear.js")
    script(src="vendor/bootstrap-multiselect/bootstrap-multiselect.js")
    script(src="vendor/jquery-easypiechart/jquery.easypiechart.js")
    script(src="vendor/flot/jquery.flot.js")
    script(src="vendor/flot-tooltip/jquery.flot.tooltip.js")
    script(src="vendor/flot/jquery.flot.pie.js")
    script(src="vendor/flot/jquery.flot.categories.js")
    script(src="vendor/flot/jquery.flot.resize.js")
    script(src="vendor/jquery-sparkline/jquery.sparkline.js")
    script(src="vendor/raphael/raphael.js")
    script(src="vendor/morris/morris.js")
    script(src="vendor/gauge/gauge.js")
    script(src="vendor/snap-svg/snap.svg.js")
    script(src="vendor/liquid-meter/liquid.meter.js")
    script(src="vendor/jqvmap/jquery.vmap.js")
    script(src="vendor/jqvmap/data/jquery.vmap.sampledata.js")
    script(src="vendor/jqvmap/maps/jquery.vmap.world.js")
    script(src="vendor/jqvmap/maps/continents/jquery.vmap.africa.js")
    script(src="vendor/jqvmap/maps/continents/jquery.vmap.asia.js")
    script(src="vendor/jqvmap/maps/continents/jquery.vmap.australia.js")
    script(src="vendor/jqvmap/maps/continents/jquery.vmap.europe.js")
    script(src="vendor/jqvmap/maps/continents/jquery.vmap.north-america.js")
    script(src="vendor/jqvmap/maps/continents/jquery.vmap.south-america.js")



    script(src="vendor/select2/select2.js")
    script(src="vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="vendor/jquery-datatables-bs3/js/datatables.js")
    script(src="javascripts/tables/examples.datatables.default.js")
    script(src="javascripts/tables/examples.datatables.row.with.details.js")
    script(src="javascripts/tables/examples.datatables.tabletools.js")

    script(src="vendor/pnotify/pnotify.custom.js")
block footerJS
    script(src="javascripts/dashboard/examples.dashboard.js")
