doctype html
html(lang="zxx")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Applify - App Landing Page
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet")
        link(rel="stylesheet" href="../../Downloads/Codeytech%20-%20Applify%20-%20App%20Landing%20Page%20HTML%20v2/assets/css/applify.min.css")
    body(class="ui-transparent-nav" data-fade_in="on-load")

   